@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.rich-text-section {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  &__item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  &__item-title {
    font-size: 1.2rem;
    color: #333;
  }
}